@import url('https://fonts.googleapis.com/css2?family=Jost&family=Poppins:wght@300&family=Quicksand&display=swap');

*
{
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar
{
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0px auto;
  width: 1200px;
  border-bottom: 1px solid#f2f2f2;
}

.navbar h1{
  color: crimson;
}

.navbar .link
{
  margin-left: auto;
}

.navbar a
{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover
{
  color: crimson;
}

.content
{
  margin: 30px auto;
  width: 1200px;
  padding: 20px;
}

.content button
{
  margin: 2px;
  background-color: crimson;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 5px;
}

.blog-preview
{
  width: 200px;
  margin: 30px  auto;
  
}

.blog-preview h2
{
  color: crimson;
}

.blog-preview:hover
{
  border-bottom: 1px solid rgb(197, 195, 195);
}

.blog-list h2
{
  width: 200px;
  margin: 10px  auto;
}

