*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signUp
{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
 margin: 100px auto;  
 width: 325px;
}

.login
{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
 margin: 100px auto;  
 width: 325px;
}

 h1
{
   margin-bottom: 20px;
   text-align: center ;
}

 input
{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

 .button
{
  border: 0;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;  
  font-size: 16px;
  width: 150px;
  margin: 0px 85px;
}

.btn
{
  display: flex;
  justify-content: center;
}

.btn button
{
  padding: 8px 30px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  margin: 20px 50px;
  cursor: pointer;
  background: crimson;
  color: white;
}
